{% extends 'base.html' %}

{% block title %}{{ vet.get_full_name }} - Django Petclinic{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Veterinarian Information</h2>
    
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">{{ vet.get_full_name }}</h5>
            <a href="{% url 'vets:vet-update' vet.id %}" class="btn btn-primary">Edit Vet</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tr>
                            <th>Name:</th>
                            <td>{{ vet.get_full_name }}</td>
                        </tr>
                        <tr>
                            <th>Specialties:</th>
                            <td>
                                {% for specialty in vet.specialties.all %}
                                <span class="badge bg-primary me-1">{{ specialty.name }}</span>
                                {% empty %}
                                <em>None</em>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="mt-3">
                <a href="{% url 'vets:vet-list' %}" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}